@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kaisei+Tokumin:wght@400;500;700;800&family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@300;400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: 28px;
    color: rgb(29, 38, 48);
    background-color: rgba(248, 249, 250, 0.8);
    font-feature-settings: "salt";
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #bfbfbf;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background-color: #bfbfbf;
}

.ant-picker.ant-picker-outlined:focus-within {
    border-color: #3366ff;
}

.ant-picker .ant-picker-input input {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.ant-picker-dropdown .ant-picker-date-panel {
    width: 400px;
}

.ant-picker-dropdown .ant-picker-header {
    padding: 8px 16px;
}

.ant-picker-dropdown .ant-picker-body {
    padding: 8px 16px;
}

.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
    padding: 8px 16px;
    width: auto;
    height: auto;
}

.radix-themes {
    --cursor-button: pointer;
    --cursor-checkbox: pointer;
    --cursor-disabled: default;
    --cursor-link: pointer;
    --cursor-menu-item: pointer;
    --cursor-radio: pointer;
    --cursor-slider-thumb: grab;
    --cursor-slider-thumb-active: grabbing;
    --cursor-switch: pointer;
}